@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

input {
    outline: none;
}
button{
    cursor: pointer;
}

:root {
    --backgroundColor: linear-gradient(90deg, rgb(136, 46, 109) 33%, rgb(126, 67, 27) 100%);
    --glass: rgba(255, 255, 255, 0.54);
    --glassItem: rgba(255, 255, 255, 0.34);
    --primaryColor: rgba(136, 46, 109,1);
    --black: #242d49;    
    --boxShadow: 0px 19px 60px rgb(0 0 0 / 8%);    
    --cpyBtnColor: #090;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--backgroundColor);
    background-repeat: no-repeat;
    box-sizing: border-box;
}
.container {        
    margin: 20px auto;
    max-width: 90%;
    min-height: max-content;
    display: flex;    
    flex-direction: column;
    gap: 1.5em;
    padding: 20px;
    background: var(--glass);
    box-shadow: var(--boxShadow);
    border-radius: 2rem;
}

.container__title {
    font-size: 2.5em;
    font-weight: 600;
    text-align: center;
    padding: 0 1em;
    border-radius: 1rem;
    background-color: var(--glassItem);     
    color: var(--primaryColor);
    font-family: 'Montserrat', sans-serif;
    text-transform:uppercase;
}
.container__decorder-card-container{    
    display: flex;    
    width: 100%;
    height: max-content;
    justify-content: space-between;   
    box-sizing: border-box;
}
.decorder-card__item{      
    box-sizing: border-box;
    width: 100%;  
    font-weight: 400;
    background-color: var(--glassItem);
    border-radius: 8px;
    padding: 5px 0 0;
    display: flex;
    flex-direction: column;
}
.decorder-item__label{
    padding: 5px 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
}
.decorder-item__input{
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 8px;
    background-color: var(--glassItem);
    box-shadow: var(--boxShadow);
    border-bottom-left-radius: 8px;    
    border-bottom-right-radius: 8px;    
    border: none;
}
.icon__container{    
    text-align: center;
}
.down-arrow{
    width: 30px;
    height: 30px;
    margin: auto 20px;    
}
.decorder__cpy-text{
    width: max-content;
    height: 30px;
    background-color: var(--cpyBtnColor);
    border: none;    
    margin: auto 10px;
    border-radius: .5rem;
    font-weight: 700;
    color: #fff;
    transition: filter, box-shadow .75s; 
    padding: 5px;
}
